$dark_blue : #15355E;
$white: #FFFFFF;
$light_grey: #F8F8F8;
$light_blue: #6B7280;

// Font Colors
$font_blue: #1F2A37;
$font_light: #F9FAFB;

// Hero Section font
$font_hero_h2: #374151;
$font_hero_p: #4B5563;
$font_hero_btn: #15355E;

// Hover Effect for Button
$translateY: translateY(-3px);
$box-shadow: 0px 4px 8px rgba(00, 00, 00, 50%);
